/****************************************/
/************** GENERAL *****************/
/****************************************/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333333;
}

/****************************************/
/*************** FORM *******************/
/****************************************/

label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

input {
    width: 200px;
}

.formRow {
    margin-bottom: 10px;
}

/****************************************/
/************** TABLE *******************/
/****************************************/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

thead, header, footer {
    background: #3056A0;
    color: white;
}

table > caption {
    font-weight: bold;
}

tfoot {
    font-size: 75%;
    text-align: left;
}

tbody > tr:nth-child(even) {
    background-color: #E6E6F5
}


header {
    text-align: center;
    line-height: 70px;
    font-size: 2em;
}

#contactDetails, #contactList {
    border: 1px solid #999999;
    margin: 15px;
    padding: 15px;
}

/****************************************/
/************* VALIDATION ***************/
/****************************************/

.validated:invalid {
    background: #FAC3C9;
}

.validated:valid {
    background: #BDF0A8;
}

/****************************************/
/************ Hyperlinks ****************/
/****************************************/

.controls {
    padding: 15px;
}

/****************************************/
/*************** Notes ******************/
/****************************************/

.overlay {
    height: 100px;
    width: 300px;
    border: 1px solid #333333;
    background-color: #eeeeee;
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 100;
}

/****************************************/
/************** FOOTER ******************/
/****************************************/

footer {
    line-height: 40px;
    font-size: 1em;
    text-align: center;
}

